<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/style.css"/>
        <script src="/script.js" defer></script>
        <title>MiniLink Links</title>
    </head>
    <body>
        <header>
            <h1 id="title">MiniLink !</h1>
            <p id="title-info">Already <%= tailleLinks %> shortened links ! <a href="/accueil">Generate your own !</a></p>
        </header>
        <div id="content">
            <% let i = 0
            for (const [key, value] of Object.entries(links)) { 
                i++; %>
                <p><a href="<%= key %>" title="<%= value[0] %>"><%= key %></a>created the <%= value[1] %> at <%= value[2] %>.</p>
                <% if (i !== tailleLinks) { %>
                    <div id="border"></div>
                <% } %>
            <% } %>
        </div>
        <footer>
            <a href="https://github.com/TooFuW" class="fa fa-github"></a>
            <a href="mailto:eyrianmuet@proton.me" class="fa fa-envelope"></a>
        </footer>
    </body>
</html>